body {
    background-color:#444;
}

.queryButton {
    margin:5px;
}

.gifImg {
    margin: 4px 0 0 0;
    border:black 1px solid;
}

#buttonList {
    background-color:#eee;
    border-bottom:1px solid #aaa;
    margin-bottom:5px;
    min-height:50px;
}

#submitButton {
    margin-top:10px;
}

#searchArea {
    background-color:#aca;
    padding:3px;
    border:1px solid #aaa;
    text-align:center;
}