body {
    margin-top:15px;
    background-color:#444;
    font-family:'Maiden Orange','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5rem;
}

.headerStuff {
    text-align:center;
    color: #ddd;
    font-family:'Source Code Pro';
}

.btn-success {
    font-size:1.5rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.queryButton {
    margin:5px;
    font-size:1.3rem;
}

.gifImg {
    margin: 4px 0 0 0;
    border:black 1px solid;
}

.gifTitle {
    background: rgba(0,0,0,0.5);
    color:white;
    padding:3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gifBox {
    display:inline-block;
    margin-right:8px;
}

#buttonList {
    background-color:#eee;
    border-bottom:1px solid #aaa;
    margin:5px 0 15px;
    min-height:50px;
}

#submitButton {
    margin-top:10px;
}

#searchArea {
    background-color:#aca;
    padding:3px;
    border:1px solid #aaa;
    text-align:center;
    margin-bottom:10px;
}

#ratingsKey {
    color:#aaa;
}