/* https://coolors.co/f2d7ee-d3bcc0-a5668b-69306d-0e103d */

body {
    margin-top: 15px;
    background-color:#0E103D;
    font-family: 'Maiden Orange', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.headerStuff {
    text-align: center;
    color: #ddd;
    font-family: 'Source Code Pro';
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.queryButton {
    margin: 5px;
    font-size: 1.3rem;
}

.gifImg {
    margin: 4px 0 0 0;
    border: black 1px solid;
}

.gifTitle {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gifBox {
    display: inline-block;
    margin-right: 8px;
}

.abtn {
    border:2px solid #0E103D;
    background: linear-gradient(0deg, #333 0%, #777 100%);
}

#buttonList {
    background: linear-gradient(90deg, #69306D 0%, #A5668B 60%, #D3BCC0 100%);
    border: 1px solid #f2d7ee;
    margin: 5px 0 15px;
    min-height: 50px;
}

#submitButton {
    margin-top: 10px;
    font-size: 1.7rem;
}

#searchArea {
    background-color: #69306D;
    color: #fff;
    padding: 3px;
    border: 1px solid #f2d7ee;
    text-align: center;
    margin-bottom: 10px;
}

#ratingsKey {
    color: #bbb;
}